<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
</head>
<body>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                Home
            </a>
        </li>
        <li role="presentation">
            <a href="#2texts" aria-controls="2texts" role="tab" data-toggle="tab">
                2 Texts
            </a>
        </li>
        <li role="presentation">
            <a href="#lorem" aria-controls="lorem" role="tab" data-toggle="tab">
                Lorem Ipsum
            </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">...</div>
        <div role="tabpanel" class="tab-pane" id="2texts">
            <div id="2texts-hello"></div>
            <div id="2texts-goodbye"></div>
            <button id="btn-fetch-2-texts" type="button" class="btn btn-primary">
                Fetch
            </button>
        </div>

        <div role="tabpanel" class="tab-pane" id="lorem">
            <div id="lorem-text"></div>
            <button id="btn-fetch-lorem" type="button" class="btn btn-primary">
                Fetch
            </button>
        </div>
      </div>
    </div>

<script src="/vendor/babel/polyfill.js"></script>
<!-- <script src="/vendor/co/index.js"></script> -->
<!-- <script src="/vendor/async/async.min.js"></script> -->
<!-- <script src="//cdn.jsdelivr.net/bluebird/3.4.5/bluebird.js"></script> -->
<!-- script src="/2texts-1.js"></script -->
<!-- script src="/2texts-async.js"></script -->
<!-- <script src="/2texts-promise.js"></script> -->
<!-- <script src="/2texts-generators.js"></script> -->
<script src="/2texts-asyncawait.js"></script>
<script src="/fetch-lorem-text.js"></script>
</body>
</html>
